<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span *ngIf="id">Hello, {{id}}. </span>
    <span>Welcome to Material Boy</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
    convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
    fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
    quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
  </mat-sidenav>
  <mat-sidenav-content>
    <article>
      <h1>
        Main content
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis vel odio vel viverra. Curabitur eget
        convallis ligula. Proin vitae dictum elit. Duis molestie nec leo eget consequat. Suspendisse cursus quis sem id
        fringilla. Maecenas venenatis velit et erat dictum, in scelerisque ante consectetur. Nulla finibus magna vel
        quam volutpat, quis scelerisque nunc scelerisque. In vestibulum felis ac ex ullamcorper facilisis.
      </p>
    </article>
  </mat-sidenav-content>
</mat-sidenav-container>